<mat-card *ngIf="!dataAvailable">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input
      hidden
      #fileInput
      type="file"
      (change)="incomingFile($event)"
      placeholder="Upload file"
      accept=".xlsx"
    />
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="fileInput.click()">Choose file</button>
  </mat-card-actions>
</mat-card>
<br />
<mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>

<mat-divider> </mat-divider>
<mat-card>
  <mat-card-title>
    <mat-form-field>
      <input
        #filter
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
  </mat-card-title>
  <mat-card-content>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">
          <div class="example-element-symbol">
            {{ element[column] }}
          </div>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element; let count = count"
          [attr.colspan]="columnsToDisplay.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="elementFound(element) ? 'expanded' : 'collapsed'"
          >
            <div class="example-element-position">
              {{ element['Board P/N'] }}
            </div>
            <div class="example-element-symbol">
              {{ element['Board Name'] }}
            </div>
            <div class="example-element-name">
              {{ element['ICT-Test-Adapter P/N'] }}
            </div>
            <div class="example-element-symbol">
              Frame Location: {{ element['Frame Location'] }}
            </div>
            <div class="example-element-symbol">
              Shelf Location: {{ element['Shelf Location'] }}
            </div>
            <div class="example-element-name">{{ count }}</div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row"
        [class.example-expanded-row]="elementFound(element)"
        (click)="setElement(element)"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>
  </mat-card-content>
</mat-card>
